<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<style type="text/css">
button {
	width: 80px;
}

input {
	width: 100%;
}

.tam1 {
	width: 32px;
	height: 32px;
}
</style>

<div>
	<div class="well text-center">
		<h1>Veículos</h1>
	</div>

	<div>
		<label for="identifier">Identificador:</label>
			<input type="text" ng-model="veiculo.identifier" readonly="readonly" class="form-control" id="identifier" placeholder="identifier">
		<label for="marca">Marca:</label>
			<input type="text" ng-model="veiculo.marca" class="form-control" id="marca" placeholder="marca">
		<label for="modelo">Modelo:</label>
			<input type="text" ng-model="veiculo.modelo" class="form-control" id="modelo" placeholder="modelo">
			<br />
		<label for="categoria">Categorias:</label>
			<select ng-options="cat.identifier as cat.descricao for cat in categorias" ng-model="veiculo.categoria.identifier" class="form-control" id="categoria" placeholder="categoria"></select>
	</div>
	<br />
	<div>
		<button class="btn btn-primary" ng-click="novo();">Novo</button>
		<button class="btn btn-primary" ng-click="salvar();">Salvar</button>
	</div>
	<br />
	<div>
		<label for=filtro">Buscar:</label>
			<input type="text" ng-model="filtro" class="form-control" id="filtro">
	</div>
	<br />
	<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered table-condensed">
			<tr>
			<th style="cursor: pointer" ng-click="orderByMe('identifier')">Identifier</th>
			<th style="cursor: pointer" ng-click="orderByMe('marca')">Marca</th>
			<th style="cursor: pointer" ng-click="orderByMe('modelo')">Modelo</th>
			<th style="cursor: pointer" ng-click="orderByMe('categoria.descricao')">Categoria</th>
			<th>Editar</th>
			<th>Excluir</th>
			</tr>
			<tr ng-repeat="veiculo in veiculos | orderBy:myOrderBy | filter:filtro">
				<td>{{veiculo.identifier}}</td>
				<td>{{veiculo.marca}}</td>
				<td>{{veiculo.modelo}}</td>
				<td>{{veiculo.categoria.descricao}}</td>
				<td><button ng-click="editar(veiculo);">Editar</button></td>
				<td><button ng-click="excluir(veiculo);">Excluir</button></td>
			</tr>
		</table>
	</div>
</div>
